<div class="ui-state-error" *ngIf="hasError">
  <span class="ui-message ui-message-error">
    <span class="ui-message-error-icon">
      <i class="pi pi-fw pi-exclamation-triangle"></i>
    </span>
    <span class="ui-message-error-detail">Error: {{ errorMessage }}</span>
  </span>
</div>

<div class="project-list">
  <h2>Projects</h2>
  <mat-list>
    <mat-list-item *ngFor="let project of projects"><span class="color-list-item">{{ project }}</span></mat-list-item>
  </mat-list>
  <hr />
</div>
