.home {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.home h2  {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;

}
.home h3 {
  color: #333333;
}
.home p {
  color: #333333;
  margin-bottom: 10px;
}

.home a {
  color: #007bff;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}
