<div class="home">
  <div>
    <h2>Enrique M. Talavera</h2>
  </div>
  <p class="intro-text">
        Experienced cloud engineer with a passion for developing scalable and efficient solutions.
        Specializing in AWS, Azure, and Google Cloud Platform.
      </p>
      <div class="skills-section">
        <h3>Languages </h3>
        <mat-chip-set>
          <mat-chip>Java</mat-chip>
          <mat-chip>Python</mat-chip>
          <mat-chip>JavaScript</mat-chip>
        </mat-chip-set>
        <h3>Cloud Skills</h3>
        <mat-chip-set>
          <mat-chip>AWS</mat-chip>
          <mat-chip>Docker</mat-chip>
          <mat-chip>Kubernetes</mat-chip>
        </mat-chip-set>
      </div>
</div>
